CONFIG_HW_COMPATIBILITY=y
CONFIG_CROSS_COMPILE="/home/ruschi/tmp/BananaM2Zero/host/bin/arm-linux-gnueabihf-"
CONFIG_SYSROOT="/home/ruschi/tmp/BananaM2Zero/host/arm-buildroot-linux-gnueabihf/sysroot"
CONFIG_EXTRA_CFLAGS="-D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64  -Os  "
CONFIG_BOOTLOADER_NONE=y
CONFIG_WEBSERVER=y
# CONFIG_MONGOOSEIPV6 is not set
CONFIG_MONGOOSESSL=y
CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
